/**
 * @author Eric Sergio <eric.sergio@bellevuecollege.edu>
 */
.resultWrapper{
	position: relative;
	width:90%;
}

.resultWrapper .itemList{
	display: grid;
	grid-gap:7px;
	grid-template-columns: 20% 20% 20% 20%;
	margin: 3% 3% 10% 3%;
}

.resultWrapper .itemList li{
	list-style-type: none;
	/*border: solid 2px #000000;*/
	padding: 14px 4px 14px 4px;
	font-family: Bookman;
	font-size: 16px;
	word-wrap: break-word;
}